<a id="{{module.id}}"></a>

# {{module.customTags[0].value}}
{{module.description}}

* [`{{module.id}}`](#{{module.id}})
    {% for func in functions -%}
    * [`{{func.name}}`](#{{func.id}})
    {% endfor -%}
{% for func in functions %}

---
<a id="{{func.id}}"></a>
## {{func.name}}
{{func.description}}
{% if func.params.length -%}
{% if func.returns %}
**Params**:
{%- endif -%}
{%- for param in func.params %}
* `{{param.name}}`{{ " - " if param.description}}{{ "( _Optional_ ) " if param.optional }}{{ param.description if param.description}}
    {%- if param.params -%}
    {%- for p in param.params %}
    * `{{p.name}}`{{ " - " if p.description}}{{ "( _Optional_ ) " if p.optional }}{{ p.description if p.description}}
    {%- endfor -%}
    {% endif -%}
{%- endfor %}
{% endif -%}
{% if func.returns %}
**Returns**:
    {% for return in func.returns -%}
        {{return.type.names}} - {{return.description}}
    {%- endfor -%}
{%- endif -%}
{% endfor -%}