# {{module.name}}
{{module.description}}

* {{module.name}}
	{% for func in functions -%}
	* `{{func.name}}`
	{% endfor -%}

{% for func in functions %}
## `{{func.name}}`
{{func.description}}

**Kind**: 
	{%- if func.scope == 'inner' -%}
		{{' '}}inner property of `{{module.name}}`
	{%- endif %}

**Returns**:
	{%- if func.returns -%}
	{% for return in func.returns %}
		{{return.type.names}} - {{return.description}}
	{%- endfor -%}
	{%- endif %}

{% if func.params.length -%}
**Params**:
{% for param in func.params -%}
* {{param.name}}{{ " - " if param.description}}{{ "(_Optional_) " if param.optional }}{{ param.description if param.description}}
	{% if param.params -%}
	{% for p in param.params -%}
		* {{p.name}}{{ " - " if p.description}}{{ "(_Optional_) " if p.optional }}{{ p.description if p.description}}
	{% endfor %}
	{% endif -%}
{% endfor -%}
{% endif -%}
{% endfor %}